<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>H&A cleaning Services</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>

</head>
<body>
{% include 'templates/partials/navegacion.twig' %}
{% block content %} {% endblock %}
{% include 'templates/partials/footer.twig' %}
</body>
<script data-cfasync="false" src="js/email-decode.min.js"></script>
<script src="js/vendor/modernizr-3.6.0.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/vendor/jquery-1.12.4.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/bootstrap.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/popper.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/slick.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/isotope.pkgd.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/imagesloaded.pkgd.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/jquery.magnific-popup.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/jquery.counterup.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/circle-progress.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/ajax-contact.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/jquery.syotimer.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/jquery.nice-select.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/wow.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/waypoints.min.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="js/main.js" type="e9c7b90b83bf67cecd517c74-text/javascript"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="e9c7b90b83bf67cecd517c74-|49" defer=""></script>

</html>
