{% block content %}
    <body>

    <div class="preloader">
        <div class="loading">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>


    <div class="banner-area-3 bg_cover" style="background-image: url(images/banner-bg-3.jpg);" id="home">
        <div class="banner-overlay">
            <img class="item-1" src="images/banner-shape-1.png" alt="">
            <img class="item-2" src="images/banner-shape-2.png" alt="">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="banner-content text-center">
                            <span>Cras laoreet turpis non interdum posuerea</span>
                            <h1 class="title">H&A cleaning Services</h1>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="features-area pt-120 pb-120" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="features-item">
                        <h2 class="title">We have the solution that your company needs</h2>
                        <span>H&A cleaning Services</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae felis risus. Vestibulum
                            tristique velit in gravida sagittis. Praesent commodo volutpat facilisis. Curabitur
                            vulputate tortor nunc, eu porttitor ligula venenatis vitae.</p>
                        <ul>
                            <li><a class="main-btn wow fadeInUp" href="#services" data-wow-duration=".5s"
                                   data-wow-delay=".4s">Services</a></li>
                            <li><a class="main-btn main-btn-2 wow fadeInUp" href="#contact" data-wow-duration="1s"
                                   data-wow-delay=".6s">Contact</a></li>
                        </ul>
                        <img class="d-none d-lg-block" src="images/welcome.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="solution-area bg_cover" style="background-image: url(images/solution-bg.jpg);">
        <div class="solution-overlay pt-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="solution-box">
                            <div class="solution-content">
                                <h3 class="title">Get the best solution for your business</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae felis risus.
                                    Vestibulum
                                    tristique velit in gravida sagittis. Praesent commodo volutpat facilisis. Curabitur
                                    vulputate tortor nunc, eu porttitor ligula venenatis vitae.</p>
                                <div class="solution-play text-right mr-30 d-block d-lg-none">
                                    <a class="video-popup" href="www.youtube.com/watch?v=TdSA7gkVYU0"><i
                                                class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="solution-play text-right mr-30 d-none d-lg-block">
                            <a class="video-popup" href="www.youtube.com/watch?v=TdSA7gkVYU0"><i
                                        class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="services-title-area" id="services">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="services-title-item text-center">
                        <div class="ring-shape"></div>
                        <span>WE OFFER A BETTER SOLUTION FOR YOUR BUSINESS</span>
                        <h3 class="title">Our services</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="latest-services-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/Carpet Cleaning.jpg" alt="Carpet Cleaning">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Carpet Cleaning</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/Clean Room Services.jpg" alt="Clean Room Services">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Clean Room Services</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/Construction Cleanup.jpg" alt="Construction Cleanup">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Construction Cleanup</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/Data Center Cleaning.jpg" alt="Data Center Cleaning">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Data Center Cleaning</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="2.5s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/Day Cleaning Janitorial.jpg" alt="Day Cleaning Janitorial">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Day Cleaning Janitorial</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="3s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/Food Service Sanitation & Cleaning.jpg" alt="Food Service Sanitation & Cleaning">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Food Service Sanitation & Cleaning </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="4s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/General Maintenance.jpg" alt="General Maintenance">
                        </div>
                        <div class="services-content">
                            <h4 class="title">General Maintenance </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="4.5s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/Hard Floor Maintenance.jpg" alt="Hard Floor Maintenance">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Hard Floor Maintenance </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="5s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/service.png" alt="">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Nighttime Janitorial </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="5.5s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/service.png" alt="">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Pressure Washing</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="6s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/service.png" alt="">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Management </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="6.5s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/service.png" alt="">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Special Event Services & Cleaning </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="7s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/service.png" alt="">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Upholstery Cleaning </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-9 wow fadeInUp" data-wow-duration="7.5s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/service.png" alt="">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Window Cleaning </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="choose-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <span>TO CONSIDERa</span>
                        <h3 class="title">Why choose us?</h3>
                    </div>
                    <div class="choose-cat">
                        <div class="choose-cat-item mt-40 wow fadeInLeft" data-wow-duration=".5s" data-wow-delay=".4s">
                            <h4 class="title">Discipline</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae felis risus.
                                Vestibulum tristique velit in gravida sagittis. </p>
                            <i class="fal fa-check"></i>
                        </div>
                        <div class="choose-cat-item mt-40 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
                            <h4 class="title">Effectiveness</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae felis risus.
                                Vestibulum tristique velit in gravida sagittis. </p>
                            <i class="fal fa-check"></i>
                        </div>
                        <div class="choose-cat-item mt-40 wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".8s">
                            <h4 class="title">Flexibility</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae felis risus.
                                Vestibulum tristique velit in gravida sagittis. </p>
                            <i class="fal fa-check"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-thumb-area mt-30">
                        <div class="choose-thumb-1">
                            <img class="item-1" src="images/thumb-2.jpg" alt="">
                        </div>
                        <div class="choose-thumb-2">
                            <img class="item-2" src="images/thumb-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="contact-us-area bg_cover" style="background-image: url(images/contact-bg.jpg)" id="contact">
        <div class="contact-overlay">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center">
                            <span>contact us</span>
                            <h2 class="title">Join Us For Free Consultations!</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-details d-flex">
                            <div class="contact-thumb wow slideInLeft" data-wow-duration=".5s" data-wow-delay="0s"
                                 style="visibility: visible; animation-duration: 0.5s; animation-delay: 0s; animation-name: slideInLeft;">
                                <img src="images/cta-man-thumb.png" alt="">
                            </div>
                            <div class="contact-form-area">
                                <form id="FormRegistro" name="FormRegistro">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="input-box mt-30">
                                                <input type="text" required="" name="first_name"
                                                       placeholder="First name" class="require">
                                                <i class="fal fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-box mt-30">
                                                <input type="text" required="" name="last_name" placeholder="Last name"
                                                       class="require">
                                                <i class="fal fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-box mt-30">
                                                <input type="text" required="" class="require" name="contact_no"
                                                       placeholder="Phone">
                                                <i class="fal fa-phone"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-box mt-30">
                                                <input type="email" class="require" required="" name="email"
                                                       placeholder="Email" data-valid="email"
                                                       data-error="Correo inválido.">
                                                <i class="fal fa-envelope-open"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-box mt-30">
                                                <select class="service-select require" required="" name="service">
                                                    <option selected value="">Select your service</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>

                                        {{ csrf.field | raw }}

                                        <div class="col-lg-12">
                                            <div class="input-box mt-30">
                                                <button type="button" class="submitForm">Send</button>
                                            </div>
                                            <div class="response mt-30"></div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
{% endblock content %}