{% block content %}
    <body>

    <div class="preloader">
        <div class="loading">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>


    <div class="banner-area-3 bg_cover" style="background-image: url(images/banner-bg-3.jpg);">
        <div class="banner-overlay">
            <img class="item-1" src="images/banner-shape-1.png" alt="">
            <img class="item-2" src="images/banner-shape-2.png" alt="">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="banner-content text-center">
                            <span>Cras laoreet turpis non interdum posuerea</span>
                            <h1 class="title">H&A cleaning Services</h1>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="features-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="features-item">
                        <h2 class="title">Tenemos la solución que tu empresa necesita</h2>
                        <span>SOS. Sustainable Organization of Safety S.A.C.</span>
                        <p>Somos unaempresa consultora especializada en proveer
                            soluciones integrales de Seguridad, Salud, Emergencias,
                            Medio Ambiente, Relaciones Comunitarias Calidad y
                            Desarrollo Humano Organizacional, asegurando el
                            cumplimiento de requisitos legales y la sostenibilidad de
                            su organización.</p>
                        <ul>
                            <li><a class="main-btn wow fadeInUp" href="nosotros" data-wow-duration=".5s"
                                   data-wow-delay=".4s">Leer más</a></li>
                            <li><a class="main-btn main-btn-2 wow fadeInUp" href="servicios" data-wow-duration="1s"
                                   data-wow-delay=".6s">Servicios</a></li>
                        </ul>
                        <img class="d-none d-lg-block" src="images/welcome.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="solution-area bg_cover" style="background-image: url(images/solution-bg.jpg);">
        <div class="solution-overlay pt-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="solution-box">
                            <div class="solution-content">
                                <h3 class="title">Obtenga la mejor solución para su negocio</h3>
                                <p>Nuestro equipo de destacados profesionales ,
                                    proporcionan las mejores alternativas de prevención,
                                    atención, solución, innovando y aplicando las mejores
                                    prácticas y tecnología acorde a sus necesidades. gracias a
                                    su amplia experiencia práctica en sus áreas.</p>
                                <div class="solution-play text-right mr-30 d-block d-lg-none">
                                    <a class="video-popup" href="www.youtube.com/watch?v=TdSA7gkVYU0"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="solution-play text-right mr-30 d-none d-lg-block">
                            <a class="video-popup" href="www.youtube.com/watch?v=TdSA7gkVYU0"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="services-title-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="services-title-item text-center">
                        <div class="ring-shape"></div>
                        <span>Ofrecemos una mejor solución para su negocio</span>
                        <h3 class="title">Nuetros servicios</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="latest-services-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/services-4.1.jpg" alt="">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Consultoría y Gestión</h4>
                            <p>Analizamos, diseñamos e
                                implementamos soporte y soluciones
                                efectivas acorde a sus necesidades para
                                lograr una eficiente implementación de
                                sus Sistemas Integrados de Gestión de
                                acuerdo a las exigencias legales
                                vigentes, normas sectoriales y normas
                                internacionales así como su
                                mantenimiento y mejora continua,
                                orientados a una cultura
                                interdependiente.</p>
                            <a href="consultoria">Leer más <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/services-4.2.jpg" alt="">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Formación y Capacitación</h4>
                            <p>Diseñamos experiencias de
                                capacitación y desarrollo de
                                colaboradores, mediante cursos, talleres
                                e intervenciones in house o virtual a
                                través de proyectos a medida de las
                                necesidades de cada empresa.
                                Nuestros entregables incluyen la
                                evaluación y monitoreo de indicadores
                                clave de desempeño asociados a los
                                conocimientos, habilidades y
                                comportamiento de los participantes.</p>
                            <a href="formacion">Leer más <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/services-4.3.jpg" alt="">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Monitoreo y Salud </h4>
                            <p>Gestionamos mediante la verificación y
                                control de los agentes ocupacionales
                                presentes en los ambientes de trabajo
                                para prevenir las enfermedades
                                profesionales. Así como la evaluación de
                                Calidad Ambiental mediante
                                monitoreos sistemáticos. Con el fin de
                                garantizar la salud y minimizar los
                                riesgos en el área laboral, Con equipos
                                y métodos de última generación.</p>
                            <a href="monitoreo">Leer más <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
                    <div class="single-services mt-30 mb-55">
                        <div class="services-thumb">
                            <img src="images/services-4.4.jpg" alt="">
                        </div>
                        <div class="services-content">
                            <h4 class="title">Ingeniería, Soporte e Innovación</h4>
                            <p>Para SOS S.A.C. es importante y nos
                                ocupamos en cubrir todos los aspectos
                                relacionados a los controles de
                                ingeniería y diversas necesidades,
                                asegurando la sostenibilidad de su
                                organización convirtiéndonos en su
                                aliado <estratégico class=""></estratégico></p>
                            <a href="ingenieria">Leer más <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="choose-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <span>A tener en cuenta</span>
                        <h3 class="title">¿Por qué elegirnos?</h3>
                    </div>
                    <div class="choose-cat">
                        <div class="choose-cat-item mt-40 wow fadeInLeft" data-wow-duration=".5s" data-wow-delay=".4s">
                            <h4 class="title">Disciplina</h4>
                            <p>Trabajamos duro y con inteligencia para lograr los mejores resultados y en menor tiempo con la mejor fricción posible.</p>
                            <i class="fal fa-check"></i>
                        </div>
                        <div class="choose-cat-item mt-40 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
                            <h4 class="title">Eficacia</h4>
                            <p>Alcanzamos nuestras metas para lograr nuestros objetivos.</p>
                            <i class="fal fa-check"></i>
                        </div>
                        <div class="choose-cat-item mt-40 wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".8s">
                            <h4 class="title">Flexibilidad</h4>
                            <p>Nuestras habilidades blandas y experiencia técnica nos permite adaptarnos a nuevos proyectos y cumplir roles con rapidez y facilidad.</p>
                            <i class="fal fa-check"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-thumb-area mt-30">
                        <div class="choose-thumb-1">
                            <img class="item-1" src="images/thumb-1.jpg" alt="">
                        </div>
                        <div class="choose-thumb-2">
                            <img class="item-2" src="images/thumb-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="contact-us-area bg_cover" style="background-image: url(/images/contact-bg.jpg)">
        <div class="contact-overlay">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center">
                            <span>contactanos</span>
                            <h2 class="title">¡Únase a Nosotros Para Obtener Consultas Gratuitas!</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-details d-flex">
                            <div class="contact-thumb wow slideInLeft" data-wow-duration=".5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0s; animation-name: slideInLeft;">
                                <img src="images/cta-man-thumb.png" alt="">
                            </div>
                            <div class="contact-form-area">
                                <form action="#">
                                    <div class="input-title">
                                        <h3 class="title">No dude en contactarnos</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-box mt-30">
                                                <input type="text" placeholder="Nombre completo">
                                                <i class="fal fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-box mt-30">
                                                <input type="email" placeholder="Correo">
                                                <i class="fal fa-envelope-open"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-box mt-30">
                                                <input type="text" placeholder="Teléfono">
                                                <i class="fal fa-phone"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-box mt-30">
                                                <input type="text" placeholder="Asunto">
                                                <i class="fal fa-edit"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-box mt-30">
                                                <textarea name="#" id="#" cols="30" rows="10" placeholder="Mensaje"></textarea>
                                                <i class="fal fa-pencil"></i>
                                                <button class="main-btn wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s" type="submit" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: slideInUp;">Enviar mensaje <i class="fal fa-long-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
{% endblock content %}