<header class="header-area-2 header-area-3">
    <div class="header-nav">
        <div class="navigation">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="index-2.html"><img src="images/logo-3.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="servicios">Servicios</a>
                            <ul class="sub-menu">
                                <li><a href="consultoria">Consultoría y Gestión</a></li>
                                <li><a href="formacion">Formación y Capacitación</a></li>
                                <li><a href="monitoreo">Monitoreo y Salud</a></li>
                                <li><a href="ingenieria">Ingeniería, Soporte e Innovación </a></li>
                            </ul>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="contacto">Contáctanos</a>
                        </li>

                    </ul>
                </div>

            </nav>
        </div>
    </div>
</header>